
/*  
 a{
    color: red;
  }

   a.test.fleur span.coucou{
       color:brown;
   }

   div.belette a{
       color: darkgoldenrod;
   }

    #test.coucou{
        font-size: 2rem;
    } */

    @import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Tagesschrift&display=swap');

    @font-face {
        font-family: 'chat';
        src: url('../fonts/dirtylane_demo_font-webfont.woff2') format('woff2'),
            url('../fonts/dirtylane_demo_font-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;

    }

    .chat{
       font-family: 'chat'; 
    }


  .tagesschrift-regular {
        font-family: "Tagesschrift", system-ui;
        font-weight: 400;
        font-style: normal;
   }

  


@import url('https://fonts.googleapis.com/css2?family=Libertinus+Keyboard&display=swap');

@font-face {
    font-family: 'nuptial_libertyregular';
    src: url('../fonts/nuptial_liberty-webfont.woff2') format('woff2'),
         url('../fonts/nuptial_liberty-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;


}

/* HEADER */


/* header nav{
     text-align: right;
}

header a{
    font-family: 'nuptial_libertyregular';
    font-size: 50px;
    display: inline-block;
}

header a.active{
    color: red;
} 

header nav a:not(:first-child){

}

header nav a:hover{

}

header .hbg{

}

header .hbg span{

}

header .hbg span:first-child{

}

header .hbg span:nth-child(2){

}

header .hbg span:last-child{

}

    */

:root{
    --alice: #fcba03;
    --white:#fff;
    --black:#000;
}

*,::after,:before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    /* font-family: 'chat', sans-serif;
    font-size: 25px; */
}

ul{
    margin-top: 200px;
}

  a{
        text-decoration: none;
   }


header{
    padding: 20px;
    background-color: var(--alice);
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index: 9;

     span{
            position: absolute;
            width: 100%;
            height: 4px;
            background-color: var(--white);
            left:0;
            border-radius: 10px;
            /* top: calc( var(--pos) * 10px ); */

            &:first-child{
                top:10px;
            }

            &:nth-child(2){
                top:20px;
            }

            &:last-child{
                top:30px;
            }

        }

    .hbg{
        display: none;
        height: 40px;
        width: 40px;
       
        position: relative;

       
    
    }

    nav{
        
        text-align: right;

        & :not(:first-child){
            margin-left: 20px;
        }
    }

    a{
        font-family: 'nuptial_libertyregular';
        font-size: 50px;
        display: inline-block;
        color:var(--black);
        will-change: color;
        transition: color .3s linear;
        
        

        &.active{
            color: red;
        }

        &:hover{
            color: var(--white);
        }

        
    }

}













li{
   list-style: cambodian;
   width: fit-content;
   transition: color .5s ease 1s;
}

li::before{
    content: 'C';
    display: inline-block;
    background-color: green;
    width: 20px;
    height: 20px;
    text-align: center;
    color: red;
}

li:hover{
    color: yellow;
}

.test{
    font-family: 'nuptial_libertyregular';
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.square{
    border: #000 5px solid;
    width: 300px;
    height:200vh;
    text-align: center;
    margin-inline: auto;
    border-top-left-radius: 5px;
    position: relative;
    background-color: var(--white);
    top:100px;

    span{
        position: sticky;

        top:100px;
    }

    div{
        font-size: 2rem;
        position: absolute;

        &:last-child{
            bottom:10px;
            right:10px;
        }

        &:first-child{
            top:10px;
            left:10px;
        }

        &:nth-child(2){
            bottom:10px;
            left:10px;
        }

        &:nth-child(3){
            top:10px;
            right:10px;
        }
    }
}

._libertinus-keyboard-regular {
  font-family: "Libertinus Keyboard", system-ui;
  font-weight: 400;
  font-style: normal;
}

.fixed{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom:50px;
    right: 50px;
    z-index: 10;
}




.formulaire textarea{
    display: block;
    width: 80%;
    height: 300px;
    border: var(--alice) solid 3px;
    margin: 0 auto;
 
}

table{
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}

table tr:nth-child(even){
    background-color: lightgray;
}

table td,
table th{
    border: 2px black solid;
    padding: 1rem;
}























@media screen and (max-width:1000px){

    header{
        nav{

            & :not(:first-child){
                margin-left: 10px;
            }
        }

        a{
            font-size: 40px;
            
        }

}

}

@media screen and (max-width:700px){

    header{
        position: relative;
        height: 80px;
        nav{
            display: none;
        }

        

        .hbg{
            position: absolute;
            right:30px;
        
            display: inline-block;

            span{
                background-color: red;
            }

            
        }
    }
    
}



   